# Backend Settings
SECRET_KEY=your-super-secret-key-change-it
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hotel_db

# Frontend Settings
VITE_API_URL=http://localhost:8000/api/v1
